@import "utils.css";
@import "animations.css";

/* Global theme rules */

body {
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-color);
    color: var(--fg-color);
    font-family: "JetBrains Mono", monospace;

    animation-name: fade-in;
    animation-duration: 1.0s;
    /* animation-delay: 0.1s; */
}

#content {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.text {
    box-sizing: border-box;
    padding-left: 15px;
}

p {
    text-align: left;
    /* filter: drop-shadow(3px 3px 5px rgb(0 0 0 / 20%)); */
}

a {
    text-decoration: none;
    text-color: var(--fg-color);
}

h1 {
    margin: 10px 0px 20px 0px;
    text-align: left;
    font-size: 36px;
    font-weight: 800;

    /* filter: drop-shadow(3px 3px 5px rgb(0 0 0 / 20%)); */
}

h2 {
    margin: 0px 0px 10px 0px;
    font-weight: 800;
}

img {
    filter: drop-shadow(5px 3px 8px rgb(0 0 0 / 50%));
}

article {
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    width: 900px;
    height: 450px;
}
