/* Font Faces */

@font-face {
    font-family: "JetBrains Mono";
    src: url("../assets/fonts/JetBrainsMono-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../assets/fonts/JetBrainsMono-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../assets/fonts/JetBrainsMono-Bold.ttf") format("truetype");
    font-weight: 800;
}

/* Colors */

@property --bg-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #afbdc0;
}

@property --fg-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #363636;
}

@property --active-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #ffffff;
}

/* Effect Utility Classes */

.drop_shadow {
    filter: drop-shadow(5px 3px 8px rgb(0 0 0 / 50%));
}

/* Transitions */

.hover-1 {
    transition: 0.2s ease-in-out;
}
