@import "theme.css";

#text {
    height: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    overflow: auto;

    display: flex;
    flex-direction: column;
    gap: 30px;
}


.version-tag {
    transform: translateY(2px);
    font-size: 15px;
    font-style: italic;
}

.heading-span {
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 15px;
}

.commit-span {
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

h2 {
    margin-bottom: 0px;
}

h2:hover {
    text-decoration: underline dotted;
}

a {
    text-decoration: none;
}

p {
    margin-top: 10px;
    margin-bottom: 5px;
}
