@import "theme.css";

body {
    text-align: left;
}

#content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    width: 900px;
    height: 450px;
}
